= render "items/top"
= render "breadcrumbtrail"
.main
  .showmain
    .showmain--right
      .inputbox
        -@category.each do |parent|
          = link_to category_path(parent) ,{class:"inputbtn",id:"btn"} do
            = parent.category_name
      .titletoparea
        -@category.each do |parent|
          .titlebox
            .titlebox--title
              = link_to category_path(parent),{class:"root--category--name--linksec"} do
                = parent.category_name
            - parent.children.each do |child|
              .titlebox--subtitle
                = link_to subcategory_path(child) ,{class:"titlebox--subtitle--link"} do
                  = child.category_name
              - child.children.each do |grandchild|
                .titlebox--subsubtitle
                  .titlebox--subsubtitle--items
                    = link_to subcategory_path(grandchild) ,{class:"titlebox--subsubtitle--items--link"} do
                      = grandchild.category_name
= render "items/thirdinfo"
= render "items/footer"
= render "items/seller_icon"