.mypage-main__items
  %h2.mypage-main__items__name
    = "#{@user.nickname}の商品一覧"
  .mypage-main__items__lists
    - @item.each do |item|
      = link_to product_path(item.id),{class:"black"} do
        %section.mypage-main__items__lists__list
          - if item.buyer_id.present?
            .mypage-main__items__lists__list__mini
              .mypage-main__items__lists__list__mini__inner SOLD
            = image_tag Image.where(product_id: item.id).first.src.url, alt: "#N/A", id: "assets", class: "mypage-main__items__lists__list__image"
          - else
            = image_tag Image.where(product_id: item.id).first.src.url, alt: "#N/A", id: "assets", class: "mypage-main__items__lists__list__image"
          .mypage-main__items__lists__list__body 
            .mypage-main__items__lists__list__body__name
              - if item.name.length >= 24
                .length1
                  = item.name
              - elsif item.name.length >= 9
                .length2
                  = item.name
              - else
                .length3
                  = item.name
            %ul.mypage-main__items__lists__list__body__text
              %li.mypage-main__items__lists__list__body__text__price
                = item.price.to_s.reverse.scan(/.{1,3}/).join(',').reverse
                円
              %li.mypage-main__items__lists__list__body__text__price
                = icon('fas', 'fa-star', class: "staricon")
                1

    = paginate @item, remote: true