.mypage-main__side
  %ul.mypage-main__side__lists
    %li.mypage-main__side__lists__list
      = link_to "トップページ", root_path, {id:"btnc"}
    %li.mypage-main__side__lists__list
      = link_to "マイページ", user_path(current_user.id), {id:"btnc"}
    %li.mypage-main__side__lists__list
      = link_to "お気に入り商品", "#", {id:"btnc"}
  %h3.mypage-main__side__text 各種設定
  %ul.mypage-main__side__lists
    %li.mypage-main__side__lists__list
      = link_to "会員情報の編集", "#", {id:"btnc"}
    %li.mypage-main__side__lists__list
      = link_to "住所の編集", "#", {id:"btnc"}
    %li.mypage-main__side__lists__list
      = link_to "お支払い情報", new_credit_card_path, {id:"btnc"}
    %li.mypage-main__side__lists__list
      = link_to "ログアウト", users_sign_out_path, {id:"btnc"}