%body
  = render "items/top"
  / パンくずに使用
  -# = render "breadcrumbtrail"
  
  .mypage-main
    = render "side-bar"
    .mypage-main__container
      .mypage-main__header
        = image_tag "MyPage.png", alt: "#N/A", id: "assets", class: "mypage-main__header__image" 
        %h1.mypage-main__header__nickname
          = @user.nickname
        %p.mypage-main__header__count
          出品数：
          = @count
      #pagenate
        = render "show-page"
   
  = render "items/thirdinfo"
  = render "items/footer"
  = render "items/seller_icon"
