%body
  = render "items/top"
  = render "breadcrumbtrail"

  .mypage-main
    .mypage-main__header
      = image_tag "MyPage.png", alt: "#N/A", id: "assets", class: "mypage-main__header__image" 
      %h1.mypage-main__header__nickname
        = @user.nickname
      %p.mypage-main__header__count
        出品数100
    .mypage-main__items
      %h2.mypage-main__items__name
        = "#{@user.nickname}の商品一覧"
      .mypage-main__items__lists
        %section.mypage-main__items__lists__list
          = image_tag "MyPage.png", alt: "#N/A", id: "assets", class: "mypage-main__items__lists__list__image" 

      -# .category
      -#   .category--top ピックアップカテゴリー
      -#   .category--prodboxs
      -#     .category--prodboxs--topper
      -#       = link_to ('#'), {class:"category--prodboxs--topper--link"} do
      -#         .catgbratitle 新規投稿商品
      -#     .category--prodboxs--lis
      -#       = link_to ('#'),{class:"category--prodboxs--lis--product"} do
      -#         .category--prodboxs--lis--product--image
      -#           = image_tag "MyPage.png", alt: "#N/A", id: "assets", class: "image--pro"
      -#         .category--prodboxs--lis--product--body
      -#           .category--prodboxs--lis--product--body--name テスト1
      -#           .category--prodboxs--lis--product--body--detail
      -#             %ul.detaillist
      -#               %li 1000円
      -#               %li
      -#                 = icon('fas', 'fa-star', class: "staricon")
      -#                 1
      -#             %p (税込)
      
      
  = render "items/thirdinfo"
  = render "items/footer"
  = render "items/seller_icon"
