.container-new
  %h2.head-registration ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .main-registration 
      .field
        = f.label :email, class: 'contents'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-default'
      .field
        = f.label :password, class: 'contents'
        %br/
        = f.password_field :password, autocomplete: "current-password", class: 'input-default'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me, class:'checkbox'
          = f.label :remember_me
      .actions
        = f.submit "ログイン", class: 'devise_submit'
  -# = render "devise/shared/links"
