= paginate @items ,remote: true
.category--prodboxs--lisall
  - @items.each do |item|
    = link_to product_path(item.id),{class:"category--prodboxs--lis--product"} do
      .category--prodboxs--lis--product--image
        = image_tag Image.where(product_id: item.id).first.src.url, alt: "#N/A", id: "assets", class: "image--pro"
      .category--prodboxs--lis--product--body
        .category--prodboxs--lis--product--body--name
          = item.name
        .category--prodboxs--lis--product--body--detail
          %ul.detaillist
            %li
              = item.price
              円
            %li
              = icon('fas', 'fa-star', class: "staricon")
              1
          %p (税込)
= paginate @items ,remote: true