%body
  .top
    .top--inner
      .top--inner--main
        %h1.top--inner--main--icon
          = link_to ("#") ,{class:"top--inner--main--icon--a"} do
            = image_tag "logo.png", alt: "#N/A", id: "assets", class: "image"
        .top--inner--main--searchbox
          %form{ action: "#", method: "get" , class:"top--inner--main--searchbox--form"}
            %input#searchInput.top--inner--main--searchbox--form--input{name: "key", placeholder:"キーワードから探す"}/
            %button.top--inner--main--searchbox--form--button{type: "submit"}
              .top--inner--main--searchbox--form--button--icon
                = image_tag "icon-search 1.png", alt: "#N/A", id: "assets", class: "image"
      .nav
        %ul.nav--lisleft
          %li.nav--lisleft--item
            = link_to ("#"),{id:"btn"} do
              カテゴリー
            .display.tree
              %ul.tree--catetree
                %li.tree--catetree-item
                  = link_to ("#") do
                    レディース
                %li.tree--catetree-item
                  = link_to ("#") do
                    メンズ
              %ul.tree--catetree
                %li.tree--catetree-item
                  = link_to ("#") do
                    トップス
                %li.tree--catetree-item
                  = link_to ("#") do
                    パンツ
          %li.nav--lisleft--item--second
            = link_to ("#"),{id:"btn"} do
              ブランド
        %ul.nav--lisright
          .nav--lisright--item
            = link_to ("#"),{id:"btnc"}  do
              ログイン
          .nav--lisright--item
            = link_to ("#"),{id:"btnc"}  do
              新規会員登録
  .main
    .firstinfo
      .firstinfo--content
        .firstinfo--content--title 人生を変えるフリマアプリ
        .firstinfo--content--text
          FURIMAはだれでも簡単に出品・購入が出来る
          %br
          フリマアプリです
        .firstinfo--content--button
          = link_to ("#"),{ class:"apple"} do
            = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", alt: "#N/A", id: "assets", class: "apple--aimage"
          = link_to ("#"),{ class:"google"} do
            = image_tag "google-play-badge.png", alt: "#N/A", id: "assets", class: "google--gimage"
    .reason
      .reason--title FURIMAが選ばれる３つの理由
      .reason--list
        %li.reason--list--lis
          .reason--list--lis--picture
            %span.reason--list--lis--picture--number 1
            = image_tag "pict-reason-01.jpg", alt: "#N/A", id: "assets", class: "image"
          .reason--list--lis--text
            %span.reason--list--lis--text--span 3分
            ですぐに出品
          .reason--list--lis--descript スマホで入力するだけで簡単に出品出来る！
        %li.reason--list--lis
          .reason--list--lis--picture
            %span.reason--list--lis--picture--number 2
            = image_tag "pict-reason-02.jpg", alt: "#N/A", id: "assets", class: "image"
          .reason--list--lis--text
            %span.reason--list--lis--text--span シンプル
            で使いやすい
          .reason--list--lis--descript めんどくさい入力は必要なく、検索も購入もスムーズ！
        %li{class:"reason--list--lis lislas"}
          .reason--list--lis--picture
            %span.reason--list--lis--picture--number 3
            = image_tag "pict-reason-03.jpg", alt: "#N/A", id: "assets", class: "image"
          .reason--list--lis--text
            手数料
            %span.reason--list--lis--text--span 業界最安
          .reason--list--lis--descript 最大３％でお得に出品＆購入！
    .secondinfo
      .secondinfo--inner
        .secondinfo--inner--title 会員数日本一位
        .secondinfo--inner--text
          FURIMAは、フリマアプリで最も人気、
          %br
          出品。購入回数も業界最多です！
          %br
          ほしかったあの商品に出会えるかもしれません。
        .secondinfo--inner--button
          = link_to ("#"),{ class:"apple"} do
            = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", alt: "#N/A", id: "assets", class: "apple--aimage"
          = link_to ("#"),{ class:"google"} do
            = image_tag "google-play-badge.png", alt: "#N/A", id: "assets", class: "google--gimage"
    .feature
      .feature--top FURIMAの特徴
      .feature--cates
        .feature--cates--itm
          .feature--cates--itm--photo
            = image_tag "icon-01.png", alt: "#N/A", id: "assets", class: "image"
          .feature--cates--itm--title 簡単に売り買いできる
          .feature--cates--itm--detail スマホひとつで、いつでもどこでも簡単に出品・購入可能！
        .feature--cates--itm
          .feature--cates--itm--photo
            = image_tag "icon-03.png", alt: "#N/A", id: "assets", class: "image"
          .feature--cates--itm--title 売上金は即日振込みに対応
          .feature--cates--itm--detail 午前９時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
        .feature--cates--itm
          .feature--cates--itm--photo
            = image_tag "icon-04.png", alt: "#N/A", id: "assets", class: "image"
          .feature--cates--itm--title 様々な支払いに対応
          .feature--cates--itm--detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    .category
      .category--top ピックアップカテゴリー
      .category--prodboxs
        .category--prodboxs--topper
          = link_to ('#'), {class:"category--prodboxs--topper--link"} do
            .catgbratitle 新規投稿商品
        .category--prodboxs--lis
          = link_to ('#'),{class:"category--prodboxs--lis--product"} do
            .category--prodboxs--lis--product--image
              = image_tag "icon-01.png", alt: "#N/A", id: "assets", class: "image--pro"
            .category--prodboxs--lis--product--body
              .category--prodboxs--lis--product--body--name テスト1
              .category--prodboxs--lis--product--body--detail
                %ul.detaillist
                  %li 1000円
                  %li
                    = icon('fas', 'fa-star', class: "staricon")
                    1
                %p (税込)
          = link_to ('#'),{class:"category--prodboxs--lis--product"} do
            .category--prodboxs--lis--product--image
              = image_tag "icon-02.png", alt: "#N/A", id: "assets", class: "image--pro"
            .category--prodboxs--lis--product--body
              .category--prodboxs--lis--product--body--name テスト1
              .category--prodboxs--lis--product--body--detail
                %ul.detaillist
                  %li 1000円
                  %li
                    = icon('fas', 'fa-star', class: "staricon")
                    1
                %p (税込)
          = link_to ('#'),{class:"category--prodboxs--lis--product"} do
            .category--prodboxs--lis--product--image
              = image_tag "icon-03.png", alt: "#N/A", id: "assets", class: "image--pro"
            .category--prodboxs--lis--product--body
              .category--prodboxs--lis--product--body--name テスト1
              .category--prodboxs--lis--product--body--detail
                %ul.detaillist
                  %li 1000円
                  %li
                    = icon('fas', 'fa-star', class: "staricon")
                    1
                %p (税込)
          = link_to ('#'),{class:"category--prodboxs--lis--product"} do
            .category--prodboxs--lis--product--image
              = image_tag "icon-04.png", alt: "#N/A", id: "assets", class: "image--pro"
            .category--prodboxs--lis--product--body
              .category--prodboxs--lis--product--body--name テスト1
              .category--prodboxs--lis--product--body--detail
                %ul.detaillist
                  %li 1000円
                  %li
                    = icon('fas', 'fa-star', class: "staricon")
                    1
                %p (税込)
    .category
      .category--top ピックアップブランド
      .category--prodboxs
        .category--prodboxs--topper
          = link_to ('#'), {class:"category--prodboxs--topper--link"} do
            .catgbratitle アーカイバ
        .category--prodboxs--lis
          = link_to ('#'),{class:"category--prodboxs--lis--product"} do
            .category--prodboxs--lis--product--image
              = image_tag "icon-01.png", alt: "#N/A", id: "assets", class: "image--pro"
            .category--prodboxs--lis--product--body
              .category--prodboxs--lis--product--body--name テスト1
              .category--prodboxs--lis--product--body--detail
                %ul.detaillist
                  %li 1000円
                  %li
                    = icon('fas', 'fa-star', class: "staricon")
                    1
                %p (税込)
          = link_to ('#'),{class:"category--prodboxs--lis--product"} do
            .category--prodboxs--lis--product--image
              = image_tag "icon-02.png", alt: "#N/A", id: "assets", class: "image--pro"
            .category--prodboxs--lis--product--body
              .category--prodboxs--lis--product--body--name テスト1
              .category--prodboxs--lis--product--body--detail
                %ul.detaillist
                  %li 1000円
                  %li
                    = icon('fas', 'fa-star', class: "staricon")
                    1
                %p (税込)
          = link_to ('#'),{class:"category--prodboxs--lis--product"} do
            .category--prodboxs--lis--product--image
              = image_tag "icon-03.png", alt: "#N/A", id: "assets", class: "image--pro"
            .category--prodboxs--lis--product--body
              .category--prodboxs--lis--product--body--name テスト1
              .category--prodboxs--lis--product--body--detail
                %ul.detaillist
                  %li 1000円
                  %li
                    = icon('fas', 'fa-star', class: "staricon")
                    1
                %p (税込)
          = link_to ('#'),{class:"category--prodboxs--lis--product"} do
            .category--prodboxs--lis--product--image
              = image_tag "icon-04.png", alt: "#N/A", id: "assets", class: "image--pro"
            .category--prodboxs--lis--product--body
              .category--prodboxs--lis--product--body--name テスト1
              .category--prodboxs--lis--product--body--detail
                %ul.detaillist
                  %li 1000円
                  %li
                    = icon('fas', 'fa-star', class: "staricon")
                    1
                %p (税込)
  .thirdinfo
    .thirdinfo--inside
      .thirdinfo--inside--title だれでもかんたん、人生を変えるフリマアプリ
      .thirdinfo--inside--text 今すぐ無料ダウンロード
      .thirdinfo--inside--icon
        = link_to ("#"),{ class:"apple"} do
          = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", alt: "#N/A", id: "assets", class: "apple--aimage"
        = link_to ("#"),{ class:"google"} do
          = image_tag "google-play-badge.png", alt: "#N/A", id: "assets", class: "google--gimage"
  .footer
    %ul.footer--contents
      %li.footer--contents--content
        %h2.footer--contents--content--head FURIMAについて
        %ul
          %li
            = link_to ("#"),{class:"footer--contents--content--link"} do
              会社概要（運営会社）
          %li
            = link_to ("#"),{class:"footer--contents--content--link"} do
              プライバシーポリシー
          %li
            = link_to ("#"),{class:"footer--contents--content--link"} do
              FURIMA利用規約
          %li
            = link_to ("#"),{class:"footer--contents--content--link"} do
              ポイントに関する特約
      %li.footer--contents--content
        %h2.footer--contents--content--head FURIMAをみる
        %ul
          %li
            = link_to ("#"),{class:"footer--contents--content--link"} do
              カテゴリー一覧
          %li
            = link_to ("#"),{class:"footer--contents--content--link"} do
              ブランド一覧
      %li.footer--contents--content
        %h2.footer--contents--content--head ヘルプ＆ガイド
        %ul
          %li
            = link_to ("#"),{class:"footer--contents--content--link"} do
              FURIMAガイド
          %li
            = link_to ("#"),{class:"footer--contents--content--link"} do
              FURIMAロゴ利用ガイドライン
          %li
            = link_to ("#"),{class:"footer--contents--content--link"} do
              お知らせ
    .footer--logo
      = link_to ("#") do
        = image_tag "logo-white.png", alt: "#N/A", id: "assets", class: "image"
    .footer-logo_c © FURIMA
  = link_to sells_path ,{class: "sellicon"} do
    %span.sellicon--text 出品する
    = image_tag "icon_camera.png", alt: "#N/A", id: "assets", class: "sellicon--image"
