= render "items/top"
%nav.root
  %ul.root--category
    %li.root--category--name
      = link_to root_path,{class:"root--category--name--link"} do
        FURIMA
    %li.root--category--logo >
    %li.root--category--name
      = link_to categories_path,{class:"root--category--name--link"} do
        カテゴリー一覧
    %li.root--category--logo >
    - if @category.has_children? && @category.has_parent?
      %li.root--category--name
        = link_to category_path(@category.parent.id),{class:"root--category--name--link"} do
          = @category.parent.category_name
      %li.root--category--logo >
      %li.root--category--name
        = link_to category_path(@category.id),{class:"root--category--name--link"} do
          = @category.category_name
    - elsif @category.has_parent?
      %li.root--category--name
        = link_to category_path(@category.parent.parent.id),{class:"root--category--name--link"} do
          = @category.parent.parent.category_name
      %li.root--category--logo >
      %li.root--category--name
        = link_to category_path(@category.parent.id),{class:"root--category--name--link"} do
          = @category.parent.category_name
      %li.root--category--logo >
      %li.root--category--name
        = link_to category_path(@category.id),{class:"root--category--name--link"} do
          = @category.category_name
    - else
      %li.root--category--name
        = link_to category_path(@category.id),{class:"root--category--name--link"} do
          = @category.category_name
.main
  .showmain
    .showmain--right
      .titletoparea
        .titlebox
          - if @category.has_children? && @category.has_parent?
            .titlebox--title
              = link_to category_path(@category.id),{class:"root--category--name--linksec"} do
                = @category.category_name
            .titlebox--subtitle
            - @category.children.each do |child|
              .titlebox--subsubtitle
                .titlebox--subsubtitle--items
                  = link_to category_path(child) ,{class:"titlebox--subsubtitle--items--link"} do
                    = child.category_name
          - elsif @category.has_parent?
            .titlebox--title
              = link_to category_path(@category.id),{class:"root--category--name--linksec"} do
                = @category.category_name
          - else
            .titlebox--title
              = link_to category_path(@category.id),{class:"root--category--name--linksec"} do
                = @category.category_name
            - @category.children.each do |child|
              .titlebox--subtitle
                = link_to category_path(child) ,{class:"titlebox--subtitle--link"} do
                  = child.category_name
              - child.children.each do |grandchild|
                .titlebox--subsubtitle
                  .titlebox--subsubtitle--items
                    = link_to category_path(grandchild) ,{class:"titlebox--subsubtitle--items--link"} do
                      = grandchild.category_name
  .products
    .products--view
      = @category.category_name
      の商品一覧
    .category--prodboxs--lis
      - @product.each do |item|
        - if Category.find(item.category_id) == @category || Category.find(item.category_id).parent == @category || Category.find(item.category_id).parent.parent == @category
          = link_to product_path(item.id),{class:"category--prodboxs--lis--product"} do
            .category--prodboxs--lis--product--image
              = image_tag "icon-01.png", alt: "#N/A", id: "assets", class: "image--pro"
            .category--prodboxs--lis--product--body
              .category--prodboxs--lis--product--body--name
                = item.name
              .category--prodboxs--lis--product--body--detail
                %ul.detaillist
                  %li
                    = item.price
                    円
                  %li
                    = icon('fas', 'fa-star', class: "staricon")
                    1
                %p (税込)
                -# -# 一時的な表示です
                -# = Category.find(item.category_id).category_name
      = link_to ('#'),{class:"category--prodboxs--lis--product"} do
        .category--prodboxs--lis--product--image
          = image_tag "icon-01.png", alt: "#N/A", id: "assets", class: "image--pro"
        .category--prodboxs--lis--product--body
          .category--prodboxs--lis--product--body--name テスト(どこでも表示されるよ)
          .category--prodboxs--lis--product--body--detail
            %ul.detaillist
              %li 1000円
              %li
                = icon('fas', 'fa-star', class: "staricon")
                1
            %p (税込)
= render "items/thirdinfo"
= render "items/footer"
= render "items/seller_icon"