= render "items/top"
.main-show
  .mainbox
    .mainbox__top 商品を削除しました。
    = link_to root_path,{class:"seller-show__button"} do
      トップページに戻る
= render "items/thirdinfo"
= render "items/footer"
= render "items/seller_icon"