= render "items/top"
.main-showdestroy
  .mainboxdestroy
    .mainboxdestroy__top 商品を削除しました。    
    .mainboxdestroy__down
      = link_to root_path,{class:"destroybutton"} do
        トップページに戻る
= render "items/thirdinfo"
= render "items/footer"
= render "items/seller_icon"