.Sell
  .Header
    .Header__logo
      =link_to root_path do
        =image_tag "logo.png", width: '20%', alt: "FURIMA"

  .Products
    .Products__form
      = form_with model: @product, local:true do |form|
        .Products__form__notification
          - if flash[:alert]
            - flash.each do |message_type, message|
              - message2 = message.gsub(",","<br>")
              = message2.html_safe

        .Products__form__images
          =form.label :"商品画像"
          %span 必須
          %br
          %p 最大5枚までアップロードできます
          #image-box-1
            .item-num-0#image-box__container
              .input-area
                - @product.images.each_with_index do |image, i|
                  .preview-box
                    .upper-box
                      = image_tag image.src.url, data: {index: i}, width: '100', height: '100'
                      -# = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                    .lower-box
                      .update-box
                        %label.edit-btn 編集
                      .delete-box
                        .delete-btn
                          %span 削除
                -# %label.input-area__camera{for: "img-file"}
                -#   %i.fas.fa-camera
                -#     = form.fields_for :images do |i|
                -#       = i.file_field :image, type: 'file', name: "product[images_attributes][][src]", value:"", style: "display:none", id:"img-file"
          #Image-box.Products__form__images__box
            -# カメラクリック保存実装あとで
            -# = icon('fas','camera') 
            -# -# %br ファイルのアップロード
            #Previews.Products__form__images__box__previews
              - if @product.persisted?
                - @product.images.each_with_index do |image, i|
                  = image_tag image.src.url, data: {index: i}, width: '100', height: '100'
            = form.fields_for :images do |i|
              .Products__form__images__box__previews__group{ data: {index: i.index}}
                -# 画像ボタン変更用(あとで)
                -# =i.label :src, "画像をアップロード", class: "Image__input__button"
                = i.file_field :src, class:'Products__form__images__box__previews__group__jsFile'
                .Products__form__images__box__previews__group__jsRemove 削除
              -# 新規作成時にはaccepts_nested_attributes_forメソッドを通じて子要素の画像の更新や削除を行う必要がないため、保存していない際にこの子要素の削除について決めるチェックボックスをview上に表示する必要がない
              - if @product.persisted?
                = i.check_box :_destroy, data: { index: i.index}, class: "hidden-destroy", style: "display: none;"
            -# 編集画面のフォームでは新しく画像を追加する可能性もあるため、新規画像追加のためのボタンを表示させている
            -# fields_forの外にあるのは新規の入力欄。editでビルドされる入力欄は既存の画像枚数分だけなので、画像追加用のinputを生成している
            - if @product.persisted?
              .Products__form__images__box__previews__group{ data: {index: '@product.images.count'}}
                = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'Products__form__images__box__previews__group__jsFile'
                .Products__form__images__box__previews__group__jsRemove 削除

        .Products__form__name  
          =form.label :"商品名"
          %span 必須
          =form.text_field :name, class: "Products__form__entry", placeholder: "40文字まで"
        .Products__form__info 
          =form.label :"商品の説明"
          %span 必須
          =form.text_field :infomation, class: "Products__form__infoInput",placeholder: "商品の説明（必須 300文字以内)（色、素材、重さ、定価、注意点など）"
            
        .Products__form__category
          -# セレクタ実装
          =form.label :"カテゴリー"
          %span 必須
          .item_input__body
            .item_input__body__category#category_box
              .pulldown#partent_box
                -# 以下new.html.hamlとの元々の親子孫のコード比較のため、それぞれコメントアウトしておく
                -# = form.select :category, options_for_select( @category_parent_array.map{|c| [c[:category_name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}
                = form.collection_select :category_id, Category.roots, :id, :category_name, {include_blank: "---", selected: @product.category.root.id}, class: "parent_category_box", id: "parent_category", required: true
                .pulldown.item_input__body__category__children#children_box
                  = form.collection_select :category_id, @product.category.parent.siblings, :id, :category_name, {include_blank: "---", selected: @product.category.parent.id}, class: "parent_category_box", id: "children_category", required: true
                  -# = form.select :category_id, options_for_select(@category_children_array.map{|c|[c[:category_name], c[:id], {'data-category'=>c[:id], 'id'=>c[:id]}]}, @product.category.parent.id), {}, {class: "parent_category_box", id: "children_category"}
                .pulldown.item_input__body__category__grandchildren#grandchildren_box
                  = form.collection_select :category_id, @product.category.siblings, :id, :category_name, {include_blank: "---", selected: @product.category.id}, class: "parent_category_box", id: "grandchildren_category", required: true
                  -# = form.select :category_id, options_for_select(@category_grandchildren_array.map{|c| [c[:category_name], c[:id], {'data-category'=>c[:id], 'id'=>c[:id]}]}, @product.category.id), {}, {class: "parent_category_box", id: "grandchildren_category"}

        .Products__form__brand
          =form.label "ブランド"
          %span 任意
          =form.text_field :brand, class:"Products__form__brandSelect", placeholder: '例)シャネル'

        .Products__form__condition
          =form.label "商品の状態"
          %span 必須
          =form.collection_select :condition_id, Condition.all, :id, :name, { prompt: "選択してください" }, class:"Products__form__conditionSelect"

        .Products__form__deliveryCharge
          =form.label "送料の負担"
          %span 必須
          =form.collection_select :delivery_charge_id, DeliveryCharge.all, :id, :name, {prompt: "選択してください" }, class:"Products__form__conditionSelect"

        .Products__form__deliveryFrom
          =form.label "発送元地域"
          %span 必須
          =form.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: "選択してください" }, class: "Products__form__deliveryFromSelect"

        .Products__form__shippingDay
          =form.label "発送日数"
          %span 必須
          =form.collection_select :shipping_day_id ,ShippingDay.all, :id, :name, { prompt: "選択してください" }, class:"Products__form__shippingDaySelect"

        .Products__form__price
          価格(300~9,999,999)
          =link_to "#" do
            =icon('far', 'question-circle')
        .Products__form__sales
          =form.label "販売価格"
          %span 必須
        .Products__form__yen
          ¥
          =form.number_field :price
        =form.submit "更新する", class: "Submit"

        -# 余裕があれば実装（手数料計算、下書き保存）
        -# .Products__form__fees 販売手数料(10%)
        -# .Products__form__profits 販売利益

        -# =form_with model: @sell do |form|
        -#   =form.submit "下書きに保存"

    .Return
      =link_to "トップページに戻る", root_path 
    
  .Footer 
    .Footer__logo
      =link_to root_path do
        =image_tag "logo-white.png", width: '20%', alt: "FURIMA"