.Sell
  .Header
    .Header__logo
      =link_to root_path do
        =image_tag "logo.png", width: '20%', height: '200%', alt: "FURIMA"

  .Products
    .Products__form  
      =form_with model: @product, local:true do |form|
        .Products__form__images
          =form.label :"商品画像（ファイルをアップロード)"
          %span 必須
          -# %br 最大2枚までアップロードできます
          -# %label{class: "Products__form__images__save"}
          -# =icon('fas', 'camera')
        #Image-box
          #Previews
            - if @product.persisted?
              - @product.images.each_with_index do |image, i|
                =image_tag "{image.src.url}", data: {index: i}, width: '100', height: '100'
          =form.fields_for :images do |i|
            .Js-file__group{ data: {index: 'image.index'}}
              = i.file_field :src, class: '.Js-file'
              .Js-remove 削除
            - if @product.persisted?
              = check_box :_destroy, data: { index: 'image.index'}, class: "hidden-destroy"
            - if @product.persisted?
              .Js-file__group{ data: {index: '@product.images.count'}}
                = file_field_tag :src, name: "product[images_attrbutes][#{@product.images.count}][src]", class: '.Js-file__group'
              .Js-remove 削除

        .Products__form__name
          =form.label :"商品名"
          %span 必須
          =form.text_field :name, class: "Products__form__entry", placeholder: "40文字まで"
      
        .Products__form__info 
          =form.label :"商品の説明"
          %span 必須
          =form.text_field :infomation, class: "Products__form__infoInput",placeholder: "商品の説明（必須 300文字以内)（色、素材、重さ、定価、注意点など）"
            
        .Products__form__category
          =form.label :"カテゴリー"
          %span 必須
        .item_input__body
          .item_input__body__category#category_box
          .pulldown#partent_box
            = form.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:category_name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}
            = icon('fa', 'chevron-down')
            .pulldown.item_input__body__category__children#children_box
              -#親カテゴリー選択によって子カテゴリー表示
            .pulldown.item_input__body__category__grandchildren#grandchildren_box
              -#子カテゴリー選択によって孫カテゴリー表示

        .Products__form__brand
          =form.label "ブランド"
          %span 任意
          =form.text_field :brand, class:"Products__form__brandSelect", placeholder: '例)シャネル'

        .Products__form__condition
          =form.label "商品の状態"
          %span 必須
          = form.collection_select :condition_id, Condition.all, :id, :name, class:"Products__form__conditionSelect", required: true

        .Products__form__deliveryCharge
          =form.label "送料の負担"
          %span 必須
          = form.collection_select :delivery_charge_id, DeliveryCharge.all, :id, :name, class:"Products__form__ deliveryChargeSelect", required: true

        .Products__form__deliveryFrom
          =form.label "発送元地域"
          %span 必須
          =form.collection_select :prefecture_id, Prefecture.all, :id, :name, {class: "Products__form__deliveryFromSelect"}

        .Products__form__shippingDay
          =form.label "発送日数"
          %span 必須
          =form.collection_select :shipping_day_id, ShippingDay.all, :id, :name, class:"Products__form__shippingDaySelect", required: true

        .Products__form__price
          価格(300~9,999,999)
          =link_to "#" do
            =icon('far', 'question-circle')
        .Product__form__sales
          =form.label "販売価格"
          %span 必須
        .Products__form__yen
          ¥
          =form.number_field :price
        =form.submit "出品する", class: "Submit"

        -# 余裕があれば実装（手数料計算、下書き保存）
        -# .Products__form__fees 販売手数料(10%)
        -# .Products__form__profits 販売利益
        -# =form_with model: @sell do |form|
        -#   =form.submit "下書きに保存"

    .Return
      =link_to "もどる", root_path 
    
  .Footer 
    .Footer__logo
      =link_to root_path do
        =image_tag "logo-white.png", width: '20%', alt: "FURIMA"
