= render "items/top"
.main
  .showmain
    .showmain--right
      .titletoparea
        -@category.each do |parent|
          - parent.children.each do |child|
            .titlebox
              .titlebox--title
                = link_to category_path(child),{class:"root--category--name--linksec"} do
                  = child.category_name
                .titlebox--subtitle
                - child.children.each do |grandchild|
                  .titlebox--subsubtitle
                    .titlebox--subsubtitle--items
                      = link_to category_path(grandchild) ,{class:"titlebox--subsubtitle--items--link"} do
                        = grandchild.category_name
= render "items/thirdinfo"
= render "items/footer"
= render "items/seller_icon"