.Sell
  
  .Header

    .Header__logo
      =link_to image_tag "logo.png", width: '20%', alt: "FURIMA"
  
  .Products
  
    .Products__image 
    
      %b出品画像

      %h2最大2枚までアップロードできます
      
      -# 画像保存機能実装
      =link_to "#", class: "Products__image--save" do
        =icon('fas', 'camera')
        %p画像を保存

    .Products__name      
      %b商品名
      = form_with model: @user, class: "Products__name--input", local: true do |form|
        =form.text_field :content, class: 'Products__name--input--box', placeholder: '40文字まで'
    
    .Products__info
      %b商品の説明
      = form_with model:@user, class: "Input", local: true do |form|
        =form.text_field :content, class: "Input__box", placeholder: '300文字以内'

    .Products__category 
      -# %bカテゴリー
      -# セレクタ実装
      = form_with model:@user, class:"Products__category--input", local: true do |form|
        = form.label :category, 'カテゴリー'
        =form.select :category, {'メンズ':1, 'レディース':2}, {include_blank: '選択してください'}, { class:'categoryList', required: true}

    .Products__brand  
      %bブランド
      = form_with model:@user, class: "Products__brand--input", local: true do |form|
        =form.text_field :content, class: "Products__brand--input--box", placeholder: ' 例)シャネル'


    .Products__conditions  
      %b商品の状態
      = form_with model:@user, class: "Products__conditions--input", local: true do |form|
        =form.text_field :content, class: "Products__conditions--input--box", placeholder: '40文字以内'

    .Products__deliveryCharge

      = form_with model:@user, class:"Products__deliveryCharge--select", local: true do |form|
        = form.label :deliveryChrge, '配送料の負担'
        =form.select :deliveryCharge, {'送料込み(出品者負担)':1, '着払い(購入者負担)':2}, {include_blank: '選択してください'}, { class:'deliveryCharge', required: true}

    .Products__deliveryLocation
      %b発送元の地域
      =form_with model:@user, class: "Products__deliveryLocation--select", local: true do |form|
        = form.collection_select :prefecture_id, Prefecture.all, :id, :name

    .Shipping__day
  
    .Price__sales

    .Prices__charges  販売手数料 (10%)

    .Price__profits   販売利益
      
    -# ボタン
    .Button
      .Button_sell  出品する

      .Button__save  下書きに保存

    .Return  もどる
    

  .Footer  ロゴ
